body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: linear-gradient(120deg, #0fb62b, #411bcc);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    min-height: 400px;
    width: 300px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title {
    margin-bottom: 32px;
    color: black;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset; 
    outline: none;
}

.login_input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfccfc;
    transition: .3s ease-in-out;
}

.login_input-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg, #77c9e2, #f10000);
    transition: .3s ease-in-out;
}

.login__submit {
    height: 48px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg, #77c9e2, #8f1616);
    background-size: 200%;
    margin-bottom: 32px;
    color: #afff;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: 5s ease-in-out;
} 
